@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WorldOfDiscs.Models.Disc>


@{
    ViewBag.Title = "SearchResults";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section Right_Content
{
    @{
        if (Model.Count == 0)
        {
            <h1>@ViewBag.Note</h1>            
        }
        else
        {

            <div id="Search_box" class="section">
                <h4 style="height: 40px!important;font-size: 20px!important;padding-top: 7px!important;margin-top: 0px!important;">Kết quả tìm kiếm </h4>
                <h2 class="title_section">@ViewBag.Note</h2> 
                @{
                    if (@ViewBag.GroupCategory != null)
                    {
                        <h5 style="color: #800080; padding-left: 20px">+ Thuộc danh mục : @ViewBag.GroupCategory</h5>
                        <h5 style="color: #800080; padding-left: 20px">+ Thuộc thể loại : @ViewBag.Category</h5>
                        <h5 style="color: #800080; padding-left: 20px">+ Giá thấp nhất : @ViewBag.MinPrice</h5>
                        <h5 style="color: #800080; padding-left: 20px">+ Giá cao nhất : @ViewBag.MaxPrice</h5>
                        <h5 style="color: #800080; padding-left: 20px">+ Loại : @ViewBag.IsNew</h5>
                    }
                }
                          
                @if (ViewBag.Result == "0")
                {
                    <h4 style="height: 40px!important;font-size: 20px!important;padding-top: 7px!important;margin-top: 0px!important;">Tất cả đĩa có trong cửa hàng</h4>
                }               
                <!-- ROW -->
                <div class="row">
                    @{
                        int j = 1;
                        for (int i = 0; i < @Model.Count; i++)
                        {
                                             <!-- ITEM DISC -->
                                    <div class="item_disc">
                                        <div class="item_title">@Model[i].Title</div>
                                        <div class="item_image"> <a href="@Url.Action("DetailDisc","Disc", new { @Id_Disc=@Model[i].Id})"> <img src=@Url.Content("~/img/disc/" + @Model[i].Image_small) width="144" height="195" alt="Image" /> </a> </div>
                                        <div class="item_price">Giá: @String.Format("{0:0,0}", Model[i].Price) VNĐ</div>
                                        <div class="item_bottom">
                                            <div class="frmBtnBot" style="width: 55px;float: left; margin-left: 17px;">
                                                @using (Html.BeginForm("AddDiscToShoppingCart", "ShoppingCart", new { @Id_Disc = Model[i].Id, @strURL = Request.Url.ToString() }))
                                                {
                                                    <button id="btnAdd" type="submit" style="cursor:pointer" class="btn btn-info btn-lg" data-toggle="tooltip" data-placement="bottom" title="Thêm vào giở hàng"> <span class="glyphicon glyphicon-shopping-cart"></span></button>
                                                }
                                            </div>
                                            <div class="frmBtnBot" style="width: 55px;float: left;">
                                                @using (Html.BeginForm("AddDiscToShoppingCart", "ShoppingCart", new { @Id_Disc = Model[i].Id, @strURL = Request.Url.ToString() }))
                                                {
                                                    <button id="btnLike" class="btn btn-danger btn-lg" data-toggle="tooltip" data-placement="bottom" title="Thêm vào danh sách yêu thích"> <span class="glyphicon glyphicon-heart"></span> </button>
                                                }
                                            </div>
                                            <div class="frmBtnBot" style="width: 55px;float: left;">
                                                @using (Html.BeginForm("DetailDisc", "Disc", new { @Id_Disc = @Model[i].Id }))
                                                {
                                                    <button class="btnDetail btn btn-info btn-lg" data-toggle="tooltip" data-placement="bottom" title="Xem chi tiết"> <span class="glyphicon glyphicon-play"></span> </button>
                                                }
                                            </div>
                                        </div>
                                    </div>

                            if (j % 4 == 0)
                            {
                                <div class="clearfix"></div>
                                    <br />
                            }
                            j++;
                        }
                    }
                </div>
            </div>

        }
    }
    @*Tạo link liên kết các trang*@
    <div class="mPagination">@Html.PagedListPager(Model, page => Url.Action("SearchResults", "Search", new { @Keyword = ViewBag.Keyword ,page = page }))</div>
}